.env
# Python
*.py[cod]
*.pyc
__pycache__/

# Virtualenv
env/
venv/
ENV/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environment Variables
.env

# JetBrains IDEs
.idea/
*.iml

# VS Code
.vscode/
.history/

# macOS
.DS_Store

#
