<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<header>
        <div>
            <img src="./images/logo.png" alt="" srcset="">
            <p>Contact Center</p>
        </div>
        <div>
                <ul>
                    <li>Pricing</li>
                    <li>About us</li>
                    <li>Contact us</li>
                    <li>##PHONE NUMBERS</li>
                    <li>##PHONE NUMBERS</li>
                </ul>
            
            <div class="login-create">
                <button type="button" class="login" id="#loginbut">Login</button>
                <button type="button" class="create">Create Account</button>
            </div>
        </div>
</header>
<section class="section-1">
    <div class="heading-container">
        <p class="sub-headings">NEXT-GEN BUSINESS CALLING SOFTWARE</p>
        <div class="sub-heading">HELPING BUSINESSES <span>CONNECT</span> WITH THIER CUSTOMERS</div>
        <p class="sub-headings">KEY FEATURES</p>
    </div>
    <div class="features">
                <button type="button" class="creates">Request a Demo</button>
                <button type="button" class="create">Contact Sales</button>
    </div>
    <div class="sub-heading">How Aventium Contact Center Works</div>
    <div class="abs">
        <img src="./images/nin.png" alt="" srcset="">
    </div>
</section>
</html>
