{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block extra_css %}
    <!-- Additional CSS files can be included here -->
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'user_list' %}">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
